# These are phrases that utter automatically when prefixed by a slash (/). Regexps supported.
phrases:
# These are phrases that will automatically disconnect if uttered by the other party. Regexps supported.
bannedPhrases:
# These are phrases that utter automatically when asked. Regexps supported.
autoPhrases: